<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layout}">
<head>
	<title>MRS</title>
</head>
<body>
	<!--/* layoutに埋め込む部分を定義 */-->
	<div layout:fragment="contents">
		<h3>ログイン</h3>
        <!-- エラーメッセージ -->
        <p style="color: red" th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null"
            th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
        </p>
		<form th:action="@{/login}" method="POST">
			<div class="mb-3">
				<label for="username" class="col-form-label">ユーザID</label>
				<input style="width:25%;" type="text" class="form-control" id="username" name="username" value="" />
			</div>
			<div class="mb-3">
				<label for="password" class="col-form-label">パスワード</label>
				<input style="width:25%;" type="password" class="form-control" id="password" name="password" value="" />
			</div>
			<button class="btn btn-primary" type="submit">ログイン</button>
		</form>
	</div>
</body>
</html>